body{
  background-color: #dcedc1;
}
h1{
  color: #b7472a;
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
}
p{
  text-align: center;
  color: #84142d;
}
img{
  border-style: inset;
  border-color: #b7472a;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
